
<nav>
    <span class="nav-divider"></span>
    <a routerLink="ABCAutomobile">ABCAutomobile</a>
    <span class="nav-divider"></span>
    <a routerLink="/home">Home</a>
    <span class="nav-divider"></span> 
    <a routerLink="/about">About Us</a>
    <span class="nav-divider"></span>
    <a routerLink="/vehicles">Vehicles</a>
    <span class="nav-divider"></span> 
    <a routerLink="/services">Services</a>
    <span class="nav-divider"></span>
    <a routerLink="/contact">Contact Us</a>
    
  </nav>
  
